
body {
  font-family: Arial, sans-serif;
  background: #ac8ba6;
  padding: 30px;
}

div {
  max-width: 500px;
  margin: auto;
  background-color: aqua;
  height: 100%;
}

h1 {
   margin-left: 70px;
  color: #050505;
}

input {
  padding: 10px;
  width: 60%;
  margin-left: 40px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor:pointer;
}

li {
  margin: 10px;
}